/* Grand Central Station */

body {
    background: #123456;
    background-image: url(../img/gabriel-barletta-87533.jpg);
    background-size: cover;
}

h1 {
    color: #bc92e4;
    font-size: 6em;
    letter-spacing: .3em;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

.main {
    background: rgba(27, 23, 14, .8);
    margin: 0 auto;
    padding: 4em 0;
    text-align: center;
    width: 80%;
    height: 100%;
}